<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  
  <!-- <cache eviction="LRU"
			flushInterval="600000"
			size="512"
			readOnly="true"/> -->
  
  <mapper namespace="com.jk.dao.TreeMapper" >
  <resultMap id="BaseResultMap" type="com.jk.model.Tree" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="text" property="text" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, text, url, pid
  </sql>
  
  <select id="findTree" parameterType="int" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_tree
    where pid = #{i}
  </select>
</mapper>